@media all {
	body #fs-footer {
		background-color: transparent;
		font-size: 1rem;
		text-align: center;
	}
	@media screen and (min-width: 992px) {
		body #fs-footer {
			text-align: left;
		}
	}
	body #fs-footer .footer-container {
		position: relative;
		display: block;
		color: #7d7976;
	}
	body #fs-footer .footer-container a {
		color: #333331 !important;
	}
	body #fs-footer .footer-container .copyright-notice .service-by-link a {
		white-space: nowrap;
	}
	body #fs-footer .footer-container .copyright-notice, body #fs-footer .footer-container .copyright-notice * {
		font-size: 0.75rem;
	}
	@media screen and (min-width: 992px) {
		body #fs-footer .footer-container {}
		body #fs-footer .footer-container .footer-nav {}
		body #fs-footer .footer-container .footer-nav {}
		body #fs-footer .footer-container .footer-nav, body #fs-footer .footer-container .copyright-notice {
			/*	width: auto;
			margin-right: 170px;*/
		}
	}
	body #fs-footer .footer-container .footer-nav {
		margin-bottom: 1.25rem;
	}
	body #fs-footer .footer-container .footer-nav .menu-footer-menu-container, body #fs-footer .footer-container .footer-nav .menu-footer-menu-container ul.menu, body #fs-footer .footer-container .footer-nav span.menu-item, body #fs-footer .footer-container .footer-nav #menu-footer-menu {
		display: inline;
	}
	body #fs-footer .footer-container .footer-nav #menu-footer-menu {
		padding: 0;
	}
	body #fs-footer .footer-container .footer-nav span.menu-item {
		font-family: "Verdana", sans-serif;
		color: #333331;
	}
	body #fs-footer .footer-container .footer-nav .menu-item {
		display: inline-block;
		margin-right: 2rem;
		font-size: 0.75rem;
	}
	body #fs-footer .footer-container .footer-nav .menu-item a {
		font-size: inherit;
	}


@media screen and (max-width: 991px) {
	body #fs-footer {
		padding: 1.5rem 0;
		margin: 0 10%;
	}
	body #mw-mf-viewport {
		height: auto;
	}
	body #fs-footer .footer-container span.church-logo-container {
		text-align: center;
	}
}

@media screen and (min-width: 992px) {
	body #fs-footer .footer-container span.church-logo-container {
		float: right;
		position: relative;
		bottom: 80px;
	}
	body #fs-footer {
		margin-left: 11em;
		padding: 0 1.25em 1.5em 1.25em;
	}
}